{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/portfolio.css' %}">
{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="py-4">
            <h2>{{ self.title }}</h2>
        </div>
        {% if featured_pages %}
                {% for page in featured_pages %}
                    {% with page=page.specific %}
                        <div class="row my-5">
                            <div class="col-lg p-5 shadow rounded">
                                <div class="py-3">
                                    <h2>
                                        {% if page.article_title %}
                                            {{ page.article_title }}
                                        {% else %}
                                            {{ page.title }}
                                        {% endif %}
                                    </h2>
                                </div>
                                {% if page.image_url %}
                                    <div class="py-3">
                                        <img src="{{ page.image_url }}" class="img-fluid"></img>
                                    </div>
                                {% endif %}
                                {% if page.summary %}
                                    <div class="py-3">
                                        {{ page.summary|richtext }}
                                    </div>
                                {% endif %}
                                <div class="py-3">
                                    <a href="{% if page.article_url %}{{ page.article_url }}{% else %}{{ page.url }}{% endif %}">
                                        <button type="button" class="btn btn-outline-dark">
                                            Read Article
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
        {% endif %}
        {% if other_pages %}
                {% for page1, page2 in other_pages %}
                    <div class="row my-5">
                        {% if page1 %}
                            {% with page1=page1.specific %}
                                <div class="col-lg mr-lg-3 mb-lg-0 mb-5 p-5 shadow rounded">
                                    <div class="py-3">
                                        <h2>
                                            {% if page1.article_title %}
                                                {{ page1.article_title }}
                                            {% else %}
                                                {{ page1.title }}
                                            {% endif %}
                                        </h2>
                                    </div>
                                    {% if page1.image_url %}
                                        <div class="py-3">
                                            <img src="{{ page1.image_url }}" class="img-fluid"></img>
                                        </div>
                                    {% endif %}
                                    {% if page1.summary %}
                                        <div class="py-3">
                                            {{ page1.summary|richtext }}
                                        </div>
                                    {% endif %}
                                    <div class="py-3">
                                        <a href="{% if page1.article_url %}{{ page1.article_url }}{% else %}{{ page1.url }}{% endif %}">
                                            <button type="button" class="btn btn-outline-dark">
                                                Read Article
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endif %}
                        {% if page2 %}
                            {% with page2=page2.specific %}
                                <div class="col-lg ml-lg-3 p-5 shadow rounded">
                                    <div class="py-3">
                                        <h2>
                                            {% if page2.article_title %}
                                                {{ page2.article_title }}
                                            {% else %}
                                                {{ page2.title }}
                                            {% endif %}
                                        </h2>
                                    </div>
                                    {% if page2.image_url %}
                                        <div class="py-3">
                                            <img src="{{ page2.image_url }}" class="img-fluid"></img>
                                        </div>
                                    {% endif %}
                                    {% if page2.summary %}
                                        <div class="py-3">
                                            {{ page2.summary|richtext }}
                                        </div>
                                    {% endif %}
                                    <div class="py-3">
                                        <a href="{% if page2.article_url %}{{ page2.article_url }}{% else %}{{ page2.url }}{% endif %}">
                                            <button type="button" class="btn btn-outline-dark">
                                                Read Article
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            {% endwith %}
                        {% else %}
                            <div class="col-lg ml-lg-3 p-5">
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'portfolio/js/portfolio.js' %}"></script>
{% endblock %}
