{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/portfolio.css' %}">
{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="py-4">
            <h2>{{ self.title }}</h2>
        </div>
        {% if self.image_url %}
            <div class="py-4">
                <img src="{{ self.image_url }}" class="img-fluid"></img>
            </div>
        {% endif %}
        {% if self.summary %}
            <div class="py-4">
                {{ self.summary|richtext }}
            </div>
        {% endif %}
        <div class="py-4">
            <a href="{{ self.article_url }}">
                <button type="button" class="btn btn-outline-dark">
                    Read Article
                </button>
            </a>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'portfolio/js/portfolio.js' %}"></script>
{% endblock %}
