* {
    box-sizing: border-box;
}

.font-primary {
    font-family: 'Raleway', sans-serif;
}

.font-size-lg {
    font-size: 20px;
}
.font-size-md {
    font-size: 16px;
}
.font-size-sm {
    font-size: 12px;
}

.menu-bar {
    position: relative;
    display: block;
    margin: 10px 0;
    padding 0;
    height: 3px;
    width: 30px;
    transition: all ease-in-out 250ms;
}
.menu-bar.menu-bar-top {
    float: left;
    height: 1.5px;
    width: 14px;
    transform-origin: right;
    transform: translateY(-8px);
}
.menu-bar.menu-bar-middle {
    transform-origin: center;
}
.menu-bar.menu-bar-bottom {
    float: right;
    height: 1.5px;
    width: 14px;
    transform-origin: left;
    transform: translateY(8px);
}
.menu-bar.menu-bar-top.menu-active {
    width: 13px;
    transform: rotate(45deg) translateY(-1px) translateX(-1px);
}
.menu-bar.menu-bar-middle.menu-active {
    transform: rotate(-45deg);
}
.menu-bar.menu-bar-bottom.menu-active {
    width: 13px;
    transform: rotate(45deg) translateY(2px) translateX(2px);
}

@media (min-width: 992px) {
    .hover-scale {
        transition: all 250ms ease-in-out;
    }
    .hover-scale:hover {
        transform: scale(1.05);
    }

    .active {
        position: relative;
    }
    .active::after {
        content: "";
        position: relative;
        display: block;
        margin: 0 auto;
        padding: 0;
        height: 2px;
        width: 100% !important;
        background-color: #343a40;
    }

    .hover-underline {
        position: relative;
    }

    .hover-underline::after {
        content: "";
        position: relative;
        display: block;
        margin: 0 auto;
        padding: 0;
        height: 2px;
        width: 0;
        background-color: #343a40;
        transition: all 250ms ease-in-out;
    }

    .hover-underline:hover::after {
        width: 100%;
    }
}
