{% load menu_tags %}

<nav class="container navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
        <span class="mr-auto text-capitalize text-dark">
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}
                    <h4>{{ site_name }}</h4>
                {% endif %}
            {% endwith %}
            {% with self.get_site.root_page.specific.tagline as tagline %}
                {% if tagline %}
                <p class="text-muted">{{ tagline }}</p>
                {% endif %}
            {% endwith %}
        </span>
    </a>
    <button class="navbar-toggler border-0 text-dark" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="menu-bar menu-bar-top rounded bg-dark"></span>
        <span class="menu-bar menu-bar-bottom rounded bg-dark"></span>
        <span class="menu-bar menu-bar-middle rounded bg-dark"></span>
    </button>
    <div id="navbarMenu" class="collapse navbar-collapse">
        <div class="navbar-nav ml-lg-auto text-lg">
            {% main_menu template="menus/main_menu.html" %}
        </div>
    </div>
</nav>
