{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'about/css/about.css' %}">
{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="py-4">
            <h2>{{ page.title }}</h2>
        </div>
        {% if page.about_image %}
            <div class="py-4">
                {% image page.about_image original as img %}
                    <img src="{{ img.url }}" class="img-fluid"></img>
            </div>
        {% endif %}
        {% if page.body %}
            <div class="py-4">
                {{ page.body|richtext }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'about/js/about.js' %}"></script>
{% endblock %}
